<table class="table table-responsive">
    <thead>
        <tr>
            <th class="col-sm-1">#</th>
            <th class="col-sm-2">DT</th>
            <th class="col-sm-2">Equipo</th>
            <th class="col-sm-1">PJ</th>
            <th class="col-sm-1">PG</th>
            <th class="col-sm-1">PE</th>
            <th class="col-sm-1">PP</th>
            <th class="col-sm-1">GF</th>
            <th class="col-sm-1">GC</th>
            <th class="col-sm-1">Puntos</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="dt in mainCtrl.torneos[mainCtrl.idTorneo].listaPosiciones">
            <td>{{$index+1}}º</td>
            <td>{{dt.nombreDT}}</td>
            <td>{{dt.nombreEquipo}}</td></tr>
    </tbody>
</table>