<div class="panel panel-default">
    <div class="panel-body">
        <select class="form-control" ng-model="mainCtrl.idTorneo">
            <option value="" disabled selected>Seleccione torneo ...</option>
            <option ng-repeat="torneo in mainCtrl.torneos" value="{{$index}}">{{torneo.nombreTorneo}}</option>
        </select>
    </div>
</div>
<div class="panel panel-default" ng-show="mainCtrl.idTorneo">
    <div class="panel-heading">
        <ul class="nav nav-tabs panel-title">
            <li class="active"><a data-toggle="tab" data-target="#partidos">Partidos</a></li>
            <li><a data-toggle="tab" data-target="#clasificacion">Clasificación</a></li>
        </ul>
    </div>
    <div class="tab-content panel-body">
        <div id="partidos" class="tab-pane fade in active">
            <div ui-view="partidos"></div>
        </div>
        <div id="clasificacion" class="tab-pane fade">
            <div ui-view="clasificacion"></div>
        </div>
    </div>
</div>
