<div id="partidoDetalle" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <center>
                    <h3>PARTIDO</h3>
                </center>
            </div>
            <div class="modal-body">
                <h4 class="text-center"> 
                <p>Nivel:</p>
                <p>Potencial: </p>
                <p ng-show="jugador.precioVenta == 0">Valor: </p>
                <p ng-show="jugador.precioVenta > 0">Precio: </p>
                </h4>
            </div>
            <div class="modal-footer text-center">
                <div class="btn-group">
                

                </div>
            </div>
        </div>
    </div>
</div>
