<select class="form-control" ng-model="mainCtrl.idFecha">
    <option value="" disabled selected>Seleccione fecha ...</option>
    <option ng-repeat="fecha in mainCtrl.torneos[mainCtrl.idTorneo].listaFechas" value="{{fecha}}">Fecha {{fecha}}</option>
</select>
<hr>
<table class="table table-responsive">
    <thead>
        <tr>
            <th class="col-sm-5">Local</th>
            <th class="col-sm-2"></th>
            <th class="col-sm-5">Visitante</th>
        </tr>
    </thead>
    <tbody>
        <tr role="button" ng-repeat="partido in mainCtrl.torneos[mainCtrl.idTorneo].fecha(mainCtrl.idFecha)"
        data-toggle="modal" data-target="#partidoDetalle">
            <td><img width="40" height="40" ng-src="http://cdn.sofifa.org/17/teams/{{partido.dtLocal.id}}.png"/>{{partido.dtLocal.nombreEquipo}}({{partido.dtLocal.nombreDT}})</td>
            <td>{{partido.score}}</td>
            <td>{{partido.dtVisitante.nombreEquipo}}({{partido.dtVisitante.nombreDT}})<img width="40" height="40" ng-src="http://cdn.sofifa.org/17/teams/{{partido.dtVisitante.id}}.png"</td>
        </tr>
    </tbody>
</table>
