<div class="panel panel-default ">
    <div class="panel-heading">
        <div class="panel-title">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" data-target="#tab" ui-sref="main.inicio.plantel">Plantel</a>
                </li>
                <li>
                    <a data-toggle="tab" data-target="#tab" ui-sref="main.inicio.deshabilitados">Deshabilitados</a>
                </li>
                <li>
                    <a data-toggle="tab" data-target="#tab" ui-sref="main.inicio.ofertasRecibidas">Ofertas({{mainCtrl.listaOfertas.length}})</a>
                </li>

                   <li>
                    <a data-toggle="tab" data-target="#tab" ui-sref="main.inicio.ajustes">Ajustes</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div id="tab" class="tab-pane in active">
                <div ui-view="container"></div>
            </div>
        </div>
    </div>
</div>
