<div class="panel panel-default ">
    <div class="panel-heading">
        <div class="panel-title">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" data-target="#tab" ui-sref="main.inicio.plantel">
                    <span class="glyphicon glyphicon-th-list"></span>
                     Plantel</a>
                </li>
                <li>
                    <a data-toggle="tab" data-target="#tab" ui-sref="main.inicio.deshabilitados">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                     Deshabilitados</a>
                </li>
                <li>
                    <a data-toggle="tab" data-target="#tab" ui-sref="main.inicio.ofertasRecibidas"><span class="glyphicon glyphicon-refresh"></span>
                     Ofertas({{mainCtrl.listaOfertas.length}})</a>
                </li>

                   <li>
                    <a data-toggle="tab" data-target="#tab" ui-sref="main.inicio.ajustes">
                    <span class="glyphicon glyphicon-cog"></span>
                     Ajustes</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div id="tab" class="tab-pane in active">
                <div ui-view="container"></div>
            </div>
        </div>
    </div>
</div>
