<div class="form-group">
    <select multiple="" class="form-control">
        <option>Mauro</option>
        <option>Latta</option>
        <option>Ale</option>
        <option>Lean</option>
        <option>Falopa</option>
    </select>
</div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Plantel</h3>
    </div>
    <div class="panel-body">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <td>Nº</td>
                    <td>Nombre</td>
                    <td>Nivel</td>
                    <td>Precio</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Rulli</td>
                    <td>79</td>
                    <td>10.000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Rugani</td>
                    <td>78</td>
                    <td>5.000</td>
                </tr>
        </table>
    </div>
</div>
