<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">DTs</h3>
    </div>
    <div class="panel-body">
        <select class="form-control" ng-model="mainCtrl.selected">
            <option value="" disabled selected>Seleccione DT ...</option>
            <option ng-repeat="dt in mainCtrl.DTs" value="{{$index}}">{{dt.nombreDT}}</option>
        </select>
        <hr>
        <div jugadores lista="mainCtrl.DTs[mainCtrl.selected].listaJugadores" ng-show="mainCtrl.selected"></div>
    </div>
</div>
