<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Mercado</h3>
    </div>
    <div class="panel-body">
        <table class="table table-responsive ">
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Nombre</th>
                    <th>Nivel</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Rulli</td>
                    <td>79</td>
                    <td>10.000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Rugani</td>
                    <td>78</td>
                    <td>5.000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
