<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">SOFIFA</h3>
    </div>
    <div class="panel-body">
        <table class="table table-responsive ">
            <thead>
                <tr>
                    <td>Nº</td>
                    <td>Nombre</td>
                    <td>Nivel</td>
                    <td>Potencial</td>
                    <td>Precio</td>
                    <td>Dueño</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Rulli</td>
                    <td>79</td>
                    <td>85</td>
                    <td>30000</td>
                    <td>Mauro</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Rugani</td>
                    <td>78</td>
                    <td>86</td>
                    <td>20000</td>
                    <td>Lean</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>79</td>
                    <td>10.000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
