<!DOCTYPE html>
<html lang="es" ng-app="busquedaMasterListApp">

<head>
    <title>GrondoMaster</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/master.css" rel="stylesheet">
    <!-- Angular JS -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- Underscore -->
    <script src="node_modules/underscore/underscore-min.js"></script>
</head>

<body class="container-fluid" ng-controller="BusquedaMasterController as busquedaCtrl">
    <!-- Barra superior -->
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">GrondoMaster</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Mercado</a></li>
                    <li><a href="#">Equipo</a></li>
                    <li><a href="#">Torneos</a></li>
                    <!-- Buscador -->
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="...">
                        </div>
                        <button type="submit" ng-click="busquedaCtrl.getResultados()" class="btn btn-default">Buscar</button>
                    </form>
            </div>
        </nav>
    </div>
    <!-- Barra izquierda -->
    <div class="col-lg-2">
        <div class="list-group">
            <img class="img-responsive thumbnail" src="http://cdn.sofifa.org/17/teams/59.png" />
            <span class="list-group-item">Fondos: $3.000.000</span>
            <span class="list-group-item">Slots</span>
            <span class="list-group-item">Cant Jugadores</span>
        </div>
        <div class="list-group">
            <a class="list-group-item" href="#navbar">Noticias</a>
            <a class="list-group-item" href="#buttons">Traspasos</a>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Jugadores</h3>
            </div>
            <table class="table">
                <thead class="panel-heading">
                    <tr>
                        <th class="col-lg-1"></th>
                        <th>Nombre</th>
                        <th>Nivel</th>
                        <th>Potencial</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody class="panel-body">
                    <tr data-ng-repeat="jugador in busquedaCtrl.resultados ">
                        <td><img width="40" height="40" src="http://cdn.sofifa.org/17/players/{{jugador.id}}.png" /></td>
                        <td>{{jugador.nombre}}</td>
                        <td>{{jugador.nivel}}</td>
                        <td>{{jugador.potencial}}</td>
                        <td>$ {{jugador.precioMaquina}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Domain -->
    <script src="js/app.js "></script>
    <script src="js/routes.js "></script>
    <script src="js/domain.js "></script>
    <script src="js/services.js "></script>
</body>

</html>
