<div class="navbar navbar-default navbar-fixed-side">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <a class="navbar-brand">{{mainCtrl.DT.nombreDT}}</a>
    </div>
    <center>
        <div class="collapse navbar-collapse" id="sidebar">
            <ul class="nav navbar-nav">
                <p class="navbar-text">{{mainCtrl.DT.nombreEquipo}}</p>
                <img class="img-responsive" ng-src="http://cdn.sofifa.org/17/teams/{{mainCtrl.DT.id}}.png" />
                <p class="navbar-text">Plata: $ {{mainCtrl.DT.plata}}</p>
                <p class="navbar-text">Nº Slots: {{mainCtrl.DT.slots}}</p>
                <p class="navbar-text">Nº Jugadores: {{mainCtrl.DT.listaJugadores.length}}</p>
                <button type="button" class="btn btn-primary"
                    ng-click="mainCtrl.comprarSlot()" 
                    >Comprar Slot</button>
            </ul>
        </div>
    </center>
</div>
