<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topbar">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <a class="navbar-brand">GrondoMaster</a>
    </div>
    <div class="collapse navbar-collapse" id="topbar">
        <ul class="nav navbar-nav">
            <li><a ui-sref="main.inicio.plantel">Inicio</a></li>
            <li><a ui-sref="main.mercado.transferibles">Mercado</a></li>
            <li><a ui-sref="main.equipos">Equipos</a></li>
            <li><a ui-sref="main.torneos">Torneos</a></li>
            <li><a ui-sref="login">Salir</a></li>
        </ul>
    </div>
</nav>
