<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topbar">
           
        </button>
        <a class="navbar-brand">
        GrondoMaster
        </a>
    </div>
    <div class="collapse navbar-collapse" id="topbar">
        <ul class="nav navbar-nav">
            <li><a ui-sref="main.inicio.plantel">Inicio</a></li>
            <li><a ui-sref="main.mercado.transferibles">
            <span class="glyphicon glyphicon-transfer"></span>
             Mercado</a></li>
            <li><a ui-sref="main.equipos">
            <span class="glyphicon glyphicon-list-alt"></span>
             Equipos</a></li>
            <li><a ui-sref="main.torneos.partidos">
            <span class="glyphicon glyphicon-calendar"></span>
             Torneos</a></li>
            <li><a ui-sref="login">
            <span class="glyphicon glyphicon-off"></span>
             Salir</a></li>
        </ul>
    </div>
</div>
