<div class="panel panel-default ">
    <div class="panel-heading">
        <ul class="nav nav-tabs panel-title">
            <li class="active"><a data-toggle="tab" data-target="#transferibles">Transferibles</a></li>
            <li><a data-toggle="tab" data-target="#buscador">Buscador</a></li>
        </ul>
    </div>
    <div class="tab-content panel-body">
        <div id="transferibles" class="tab-pane fade in active">
              <div ui-view="transferibles"></div>
        </div>
        <div id="buscador" class="tab-pane fade">
             <div ui-view="buscador"></div>
        </div>
    </div>
</div>
