<form >
   <div class="panel-heading" >
        <h3 class="panel-title">DTs</h3>
    </div>
    
    <div>
    <center>
                    <img class="img-responsive" ng-src="http://cdn.sofifa.org/17/players/{{jugador.id}}.png" err-src="http://cdn.sofifa.org/player.png" />
                    <h3>{{jugador.nombre}}</h3>
    </div>
            <div>
                <h4 class="text-center">
                <p>Nivel: {{jugador.nivel}}</p>
                <p>Potencial: {{jugador.potencial}}</p>
                </h4>
            </div>
    
                        <input type="text" class="form-control" placeholder="Monto"
                        ng-model="mainCtrl.monto">
 
    </center>
         
</form>
<hr>
<div class="panel-body">
        <p>Jugadores Propios</p>
        <hr>
        <div jugadores lista="mainCtrl.DT.plantel"></div>
</div>